<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
    <link rel="stylesheet" href="/static/validator/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/validator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/validator/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/validator/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/validator/dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="doctorCenter"><span class="glyphicon glyphicon-user" id="doctorCenter1"></span> </a></li>
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="col-lg-3"  style="margin-top: 50px;">
        <ul class="list-group" id="userfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="margin-left:15%;width: 150px;height: 150px" src="/static/image/defaultImage.jpg" />
            </li>
            <li class="list-group-item"><a href="/doctor/main">查看预约</a></li>
            <li class="list-group-item"><a href="/doctor/treatmentHistory">查看历史诊治记录</a></li>
            <li class="list-group-item"><a href="/doctor/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/doctor/editPwd">修改密码</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div style="margin-top: 50px;">
            <ul class="nav nav-pills" id="doctorMgrUL">
                <li id="li1"><a href="/doctor/departmentManagement">排班安排</a></li>
                <li id="li2"><a href="/doctor/viewArrangement">查看排班表</a></li>
                <li id="li3"><a href="/doctor/setAppointmentNum">设置挂号数量</a></li>
            </ul>
        </div>
        <div class="form-horizontal" style="width: 80%;margin-top: 20px">
            <form id="arrangeForm" name="arrangeForm">
                <input id="selectedItem" name="selectedItem" hidden>
                <div>
                    <label style="float: left;margin-top: 7px">选择排班时间：</label>
                    <select class="form-control" style="width:180px;float: left" id="arrange" name="arrange">
                        <option value="1">星期一</option>
                        <option value="2">星期二</option>
                        <option value="3">星期三</option>
                        <option value="4">星期四</option>
                        <option value="5">星期五</option>
                        <option value="6">星期六</option>
                        <option value="0">星期日</option>
                    </select>
                    <a class="btn btn-primary" style="float: left;margin-left: 50px;" onclick="setArrange()">安排出诊</a>
                </div>
                <table class="table table-striped" style="width: 700px; table-layout: fixed">
                    <caption><span id="deptName"></span>在职医生</caption>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="all_check"></th>
                        <th>医生姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>职称</th>
                        <th>身份</th>
                        <th>当前排班</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </form>
        </div>

    </div>
</div>
<div hidden>
    <span id="formValue">{{.currentDoctor}}</span>
    <span id="doctors">{{.doctors}}</span>
</div>
</body>
<script type="text/javascript" src="/static/js/doctorCenter.js"></script>
</html>