<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
    <link rel="stylesheet" href="/static/validator/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/validator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/validator/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/validator/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/validator/dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="doctorCenter"><span class="glyphicon glyphicon-user" id="doctorCenter1"></span> </a></li>
                        <li><a href="/doctor/logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>
<div class="container">

    <div class="col-lg-3" style="margin-top: 50px;">
        <ul class="list-group" id="userfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="margin-left:15%;width: 150px;height: 150px" src="/static/image/defaultImage.jpg" />
            </li>
            <li class="list-group-item"><a href="/doctor/main">查看预约</a></li>
            <li class="list-group-item"><a href="/doctor/treatmentHistory">查看历史诊治记录</a></li>
            <li class="list-group-item"><a href="/doctor/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/doctor/editPwd">修改密码</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1" style="margin-top: 50px;">
        <div class="modal-body" style="width: 80%">
            <form id="addCaseForm" action="/doctor/addCase" method="post" onsubmit="return check()">
                <input name="doctorKey" id="doctorKey" hidden>
                <input id="appoint" name="appoint" hidden/>
                <div class="form-group">
                    <label>患者姓名：</label>
                    <span id="name"></span>
                </div>
                <div class="form-group">
                    <label>患者年龄：</label>
                    <span id="age"></span>
                </div>
                <div class="form-group">
                    <label>患者性别：</label>
                    <span id="gender"></span>
                </div>
                <div class="form-group">
                    <label for="illdescribe">症状描述</label>
                    <textarea class="form-control" ID="illdescribe" name="illdescribe" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="illname">诊断结果</label>
                    <input type="text" class="form-control" id="illname" name="illname">
                </div>
                <div class="form-group">
                    <label for="illdetail">详细诊治方案</label>
                    <textarea class="form-control" ID="illdetail" name="illdetail" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="curedoctor">主治医生</label>
                    <input type="text" class="form-control" id="curedoctor" readonly>
                </div>
                <div class="form-group" style="width:120px;float: left;margin-left: 45%;">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <span id="formValue" hidden>{{.currentDoctor}}</span>
    <span id="patient" hidden>{{.patient}}</span>
    <span id="appointmentId" hidden>{{.appointmentId}}</span>
</div>
</body>
<script type="text/javascript" src="/static/js/doctorCenter.js"></script>
</html>