<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
</head>
<body>
<div class="container">
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="doctorCenter"><span class="glyphicon glyphicon-user" id="doctorCenter1"></span> </a></li>
                        <li><a href="/doctor/logout/1" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="col-md-3" style="margin-top: 50px;">
        <ul class="list-group" id="userfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="" />
            </li>
            <li class="list-group-item"><a href="/doctor/main">查看预约</a></li>
            <li class="list-group-item"><a href="/doctor/treatmentHistory">查看历史诊治记录</a></li>
            <li class="list-group-item"><a href="/doctor/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/doctor/editPwd">修改密码</a></li>
            <li class="list-group-item"><a href="/doctor/visitHistory">访问历史</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <form id="doctorMainForm" action="/doctor/main" method="post">
            <div class="form-horizontal" style="width: 80%;margin-top: 50px">
                <div>
                    <button class="btn btn-default" id="startBtn" type="submit">
                        <span class="glyphicon glyphicon-play" style="color:green">开始工作</span>
                    </button>
                    <button class="btn btn-default" id="SuspendBtn" type="submit">
                        <span class="glyphicon glyphicon-pause" style="color: rgb(255, 0, 0);">暂时挂起</span>
                    </button>
                </div>
                {{/*<div class="input-group col-md-4" style="float: right">*/}}
                    {{/*<input type="text" class="form-control" placeholder="预约号码/姓名">*/}}
                    {{/*<span class="input-group-btn">*/}}
                        {{/*<button class="btn btn-default" type="button">*/}}
                            {{/*<span class="glyphicon glyphicon-search" style="color: rgb(47, 140, 182);"></span>*/}}
                        {{/*</button>*/}}
                    {{/*</span>*/}}
                {{/*</div>*/}}
                <table class="table table-striped" style="width: 700px; table-layout: fixed">
                    <caption>患者预约情况</caption>
                    <thead>
                    <tr>
                        <th>预约号</th>
                        <th>姓名</th>
                        <th>预约就诊日期</th>
                        <th>预约时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div>
    <span id="formValue" hidden>{{.currentDoctor}}</span>
    <span id="doctorStatus" hidden>{{.doctorStatus}}</span>
    <span id="appoints" hidden>{{.appoints}}</span>
</div>
</body>
<script type="text/javascript" src="/static/js/doctorMain.js"></script>
</html>