<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="doctorCenter"><span class="glyphicon glyphicon-user" id="doctorCenter1"></span> </a></li>
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>
<div class="container">

    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="" />
            </li>
            <li class="list-group-item"><a href="/doctor/viewAppointments">查看预约</a></li>
            <li class="list-group-item"><a href="/doctor/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/doctor/editPwd">修改密码</a></li>
            <li class="list-group-item"><a href="/doctor/visitHistory">访问历史</a></li>
        </ul>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="form-horizontal" style="width: 80%;">
            <form id="doctorEditInfoForm" action="editInfoPost" method="post">
                <input name="doctorKey" id="doctorKey" hidden>
                <div class="form-group" >
                    <label for="username"><span>姓名</span></label>
                    <input name="username" id="username" class="form-control" style="width:300px" readonly>
                </div>
                <div class="form-group">
                    <label>性别:</label>
                    <div>
                        <div class="radio" style="float: left">
                            <label>
                                <input type="radio" name="sex" id="sex1" value="0" disabled> 男
                            </label>
                        </div>
                        <div class="radio" style="float: left;margin-left: 50px;">
                            <label>
                                <input type="radio" name="sex" id="sex2" value="1" disabled> 女
                            </label>
                        </div>
                    </div>
                    <span style="color:red; margin-left: 10px;margin-top: 5px;">*</span>
                </div>
                <div class="form-group">
                    <label for="tel">电话号码:</label>
                    <input type="tel" name="tel" id="tel" class="form-control" style="width:300px">
                </div>
                <div class="form-group">
                    <label for="idnum">身份证号:</label>
                    <input type="text" name="idnum" id="idnum" class="form-control" style="width:300px" readonly>
                </div>
                <div class="form-group">
                    <label for="birthdate">出生日期:</label>
                    <input type="text" name="birthdate" id="birthdate" class="form-control" style="width:300px" readonly>
                </div>
                <div class="form-group">
                    <label for="hospitalName">所属医院:</label>
                    <input name="hospitalName" id="hospitalName" class="form-control" value="" style="width:300px" readonly>
                </div>
                <div class="form-group">
                    <label for="DepName">所属科室:</label>
                    <input name="DepName" id="DepName" class="form-control" value="" style="width:300px" readonly>
                </div>
                <div class="form-group" style="float: left;margin-left: 50px;">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
                <div class="form-group" style="float: left;margin-left: 50px;">
                    <input type="reset" class="btn btn-primary" value="重置">
                </div>
            </form>
        </div>
    </div>
</div>
<div hidden>
    <span id="formValue">{{.currentDoctor}}</span>
</div>
</body>
{{/*<script type="text/javascript" src="/static/js/doctorCenter.js"></script>*/}}
<script type="text/javascript" src="/static/js/doctorEditInfo.js"></script>
</html>