<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
</head>
<body>
<iframe src="_layout.html" width="100%" frameborder="0" scrolling="0"></iframe>
<div class="container">

    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="" />
            </li>
            <li class="list-group-item"><a href="Doctor.html">病人就诊</a></li>
            <li class="list-group-item"><a href="DoctorEditInfo.html">修改信息</a></li>
            <li class="list-group-item"><a href="DoctorEditPassword.html">修改密码</a></li>
            <li class="list-group-item"><a href="DoctorVisit.html">病历访问</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <a href="Doctor.html"><span><< 返回</span></a>
        <div class="form-horizontal" style="width: 80%;">
            <table class="table table-striped">
                <caption>就诊记录</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>时间</th>
                    <th>疾病名称</th>
                    <th>患者姓名</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>123</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看详情</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2018年1月</td>
                    <td>发烧</td>
                    <td>3132</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看详情</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>312</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看详情</button></td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">病历详情</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- 模态框主体 -->
                        <div class="modal-body" style="width: 70%;margin-left: 100px;">
                            <div class="form-group">
                                <label for="name">姓名</label>
                                <input type="text" class="form-control" id="name" readonly>
                            </div>
                            <div class="form-group">
                                <label for="illname">疾病名称</label>
                                <input type="text" class="form-control" id="illname" readonly>
                            </div>
                            <div class="form-group">
                                <label for="illdetail">详情</label>
                                <textarea class="form-control" ID="illdetail" rows="4" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label for="curedoctor">主治医生</label>
                                <input type="text" class="form-control" id="curedoctor" readonly>
                            </div>
                            <div class="form-group">
                                <label for="time">治疗时间</label>
                                <input type="text" class="form-control" id="time" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">关闭</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>