<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>区块链医疗系统-注册在职医生</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/validator/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/validator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/validator/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/validator/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/validator/dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 15px;height: 50px;float: left">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>
                <div class="col-md-5 col-md-offset-4" style="margin-top: 8px;height: 50px;float: left">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a href="/doctor/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        <li><a href="/doctor/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="main" class="container">
    <div class="col-md-6 col-md-offset-3">
    <div class="register">
        <div class="row">
            <div style="margin-top: 50px">
                <div>
                    <form class="form-horizontal" id="doctorRegisterForm" action="/doctor/registerPost" method="post">
                        <div class="form-group">
                            <label for="doctorname" class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" name="username" placeholder="姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">性别:</label>
                            <div  class="col-sm-9">
                                <div class="radio" style="float: left">
                                    <label>
                                        <input type="radio" name="sex" id="sex1" value="0" checked> 男
                                    </label>
                                </div>
                                <div class="radio" style="float: left;margin-left: 50px;">
                                    <label>
                                        <input type="radio" name="sex" id="sex2" value="1"> 女
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthdata" class="col-sm-3 control-label">出生日期:</label>
                            <div class="col-sm-9">
                            {{/*<input type="date" name="birthdate" id="birthdate" class="form-control">*/}}
                                <input type="text" class="form-control" name="birthdate" id="birthdate" placeholder="出生日期">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idnumber" class="col-sm-3 control-label">身份证号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="idnumber" name="idnumber" placeholder="身份证号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="col-sm-3 control-label">联系方式</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="联系方式">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label">职称</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="title" name="title">
                                    <option value="0" selected>医士、医师、住院医师</option>
                                    <option value="1">主治医师</option>
                                    <option value="2">副主任医师</option>
                                    <option value="3">主任医师</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hospitalId" class="col-sm-3 control-label">医院代码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospitalId" name="hospitalId" placeholder="医院代码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentId" class="col-sm-3 control-label">科室代码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="departmentId" name="departmentId" placeholder="科室代码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="确认密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7" >
                                <div style="float: left">
                                    <button type="submit" class="btn btn-primary login-input" name="submit" >注册</button>
                                </div>
                                <div style="float: left;margin-left: 50px;">
                                    <input type="reset" class="btn btn-primary login-input" value="取消" name="cancel">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/doctorRegister.js"></script>
</html>