<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统-医生</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院后台管理系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="doctorCenter"><span class="glyphicon glyphicon-user" id="doctorCenter1"></span> </a></li>
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="col-lg-3" style="margin-top: 50px;">
        <ul class="list-group" id="userfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="~/File/Images/@path" />
            </li>
            <li class="list-group-item"><a href="/doctor/main">查看预约</a></li>
            <li class="list-group-item"><a href="/doctor/treatmentHistory">查看历史诊治记录</a></li>
            <li class="list-group-item"><a href="/doctor/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/doctor/editPwd">修改密码</a></li>
            <li class="list-group-item"><a href="/doctor/visitHistory">访问历史</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1" style="margin-top: 50px;">
        <div class="input-group">
            <input type="text" class="form-control" style="float: left; width: 200px;height: 32px;">
            <button type="button" class="input-group-addon" style="float: left; width: 35px; height: 32px;"><span class="glyphicon glyphicon-search" style="color: rgb(124, 165, 230);"></span></button>
        </div>
        <div class="form-horizontal" style="width: 80%;">
            <table class="table table-striped">
                <caption>访问记录</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>时间</th>
                    <th>疾病名称</th>
                    <th>患者姓名</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2018年1月</td>
                    <td>发烧</td>
                    <td>3132</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>312</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div hidden>
    <span id="formValue">{{.currentDoctor}}</span>
</div>

</body>
<script type="text/javascript" src="/static/js/doctorCenter.js"></script>
</html>