<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>审核医院注册申请</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onload="loading()">
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 15px;height: 50px">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>审核医院注册申请</strong></span>
                </div>
                <div class="col-md-5 col-md-offset-4" style="margin-top: 8px;height: 50px;float: left">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="main" class="container">
    <form id="userForm" name="userForm">
        <div class="col-md-12 col-md-offset-1">
            <div class="form-horizontal" style="width: 80%;margin-top: 40px" align="center">
                <div style="margin-top: 50px;margin-left: 43%" >
                    <label class="control-label" style="float: left">选择状态：</label>
                    <select id="selectStatus" class="form-control" onchange="window.location=this.value;" style="width: 150px;float: left">
                        <option value="/admin/verifyHospitals">显示全部</option>
                        <option value="/admin/jsVerifyHospitals/-1">不通过</option>
                        <option value="/admin/jsVerifyHospitals/0">待审核</option>
                        <option value="/admin/jsVerifyHospitals/1">审核通过</option>
                        <option value="/admin/jsVerifyHospitals/2">异常</option>
                    </select>
                </div>
                <table id="table" class="table table-striped" style="width: 700px; table-layout: fixed">
                    <caption>医院注册申请</caption>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="all_check"></th>
                        <th>医生名称</th>
                        <th>等级</th>
                        <th>地址</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                {{/*隐藏域传值*/}}
                <div hidden>
                    {{/*<input name="id" id="id">*/}}
                    <input id="selectedItem" name="selectedItem">
                </div>
                <div style="margin-top: 50px;">
                    <button class="btn btn-primary" style="margin-left: 100px;" name="submit" onmousedown="return checkSelected()" onmouseup="return confirmVerify()">通过</button>
                    <button class="btn btn-primary" style="margin-left: 100px;" name="refuse" onmousedown="return checkSelected()" onmouseup="return confirmDeny()">禁止</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{/*<span id="doctors">{{.hospitals}}</span>*/}}
<div hidden>
    <span id="formValue">{{.currentAdmin}}</span>
    <span id="hospitals">{{.hospitals}}</span>
</div>
</body>
{{/*让浏览器及时刷新外部js*/}}
<script type="text/javascript" src="/static/js/VerifyHospitals.js?ver=2"></script>
</html>