<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>区块链医疗系统-医院管理</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 15px;height: 50px">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院超级管理系统</strong></span>
                </div>
                <div class="col-md-5 col-md-offset-4" style="margin-top: 8px;height: 50px;float: left">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="hospitalCenter"><span class="glyphicon glyphicon-user" id="hospitalCenter1"></span> </a></li>
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="main" class="container">
    <div class="col-md-3" style="margin-top: 50px;">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item"><a href="verifyDoctor">审核医生注册申请</a></li>
            <li class="list-group-item"><a href="viewDoctors">查看在职医生</a></li>
            <li class="list-group-item"><a href="departmentManagement">科室管理</a></li>
            <li class="list-group-item"><a href="#">申请授权</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="form-horizontal" style="width: 80%;margin-top: 50px" align="center">

            <table id="table" name="table" class="table table-striped" style="width: 700px; table-layout: fixed">
                <caption>科室信息</caption>
                <thead>
                <tr>
                    <th><input type="checkbox" value="" id="all_check" name="all_check">全选</th>
                    <th>ID</th>
                    <th>科室</th>
                    <th>详细信息</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <div hidden>
                <input name="publicKey" id="publicKey">
                <input id="selectedItem" name="selectedItem">
            </div>

            <div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Add" style="margin-left: 100px;" name="submit" onclick="">添加</button>
                <button class="btn btn-info" data-toggle="modal" data-target="#Edit" style="margin-left: 100px;" name="edit"
                        onmousedown="return checkSelected1()" onmouseup="modal1(this)" >修改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加科室
                </h4>
            </div>

            <div class="modal-body" style="width: 70%;margin-left: 100px;">
                <form id="departmentForm" class="form-horizontal" action="/hospital/departmentAddPost" method="post">
                    <div class="form-group">
                        <label for="DepartmentName">科室名称</label>
                        <input type="text" class="form-control" id="DepartmentName" name="DepartmentName">
                    </div>
                    <div class="form-group">
                        <label for="detail">详细信息</label>
                        <textarea class="form-control" ID="detail" name="detail" rows="4"></textarea>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary">
                    提交
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </button>
                <h4 class="modal-title" id="myModalLabe2">
                    修改科室
                </h4>
            </div>
            <div class="modal-body" style="width: 70%;margin-left: 100px;">
                <form id="departmentEditInfoForm" class="form-horizontal" action="/hospital/departmentEditInfoPost" method="post">
                    <div class="form-group">
                        <label for="DepartmentName">科室名称</label>
                        <input type="text" class="form-control" id="DepartmentName2" name="DepartmentName2" />
                    </div>

                    <div class="form-group">
                        <label for="detail">详细信息</label>
                        <textarea class="form-control" ID="detail2" name="detail2" rows="4"></textarea>
                    </div>

                    <div hidden>
                        <input id="DepartmentId" name="DepartmentId">
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>

                <button type="submit" class="btn btn-primary">
                    修改
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<div hidden>
    <span id="formValue">{{.currentHospital}}</span>
    <span id="department">{{.department}}</span>
</div>
</body>
<script type="text/javascript" src="/static/js/hospitalCenter.js?ver=3"></script>
</html>