<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>区块链医疗系统-医院管理</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onload="loading()">
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 15px;height: 50px">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>医院超级管理系统</strong></span>
                </div>
                <div class="col-md-5 col-md-offset-4" style="margin-top: 8px;height: 50px;float: left">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="hospitalCenter"><span class="glyphicon glyphicon-user" id="hospitalCenter1"></span> </a></li>
                        <li><a href="logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="main" class="container">
    <div class="col-md-3" style="margin-top: 50px;">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">

                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="~/File/Images/@path" />
            </li>
            <li class="list-group-item"><a href="verifyDoctor">审核医生注册申请</a></li>
            <li class="list-group-item"><a href="viewDoctors">查看在职医生</a></li>
            <li class="list-group-item"><a href="departmentManagement">科室管理</a></li>
            <li class="list-group-item"><a href="#">申请授权</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="form-horizontal" style="width: 80%;margin-top: 40px" align="center">
            <form action="" method="post" id="userForm" name="userForm">
                <table id="table" class="table table-striped" style="width: 700px; table-layout: fixed">
                    <caption>医生注册申请</caption>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="all_check"></th>
                        <th>医生姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        {{/*<th>身份证号</th>*/}}
                        {{/*<th>手机号</th>*/}}
                        <th>科室</th>
                        <th>职称</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>

                {{/*隐藏域传值*/}}
                <div hidden>
                    <input name="publicKey" id="publicKey">
                    <input id="selectedItem" name="selectedItem">
                </div>

                <div style="margin-top: 50px;">
                <button class="btn btn-primary" style="margin-left: 100px;" name="submit" onmousedown="return checkSelected()" onmouseup="return confirmVerify()">通过</button>
                <button class="btn btn-primary" style="margin-left: 100px;" name="refuse" onmousedown="return checkSelected()" onmouseup="return confirmDeny()">禁止</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/*<span id="doctors">{{.doctors}}</span>*/}}
<div hidden>
    <span id="formValue">{{.currentHospital}}</span>
    <span id="doctors">{{.doctors}}</span>
</div>
</body>
{{/*<script type="text/javascript" src="/static/js/hospitalCenter.js"></script>*/}}
{{/*让浏览器及时刷新外部js*/}}
<script type="text/javascript" src="/static/js/hospitalVerifyDoctors.js?ver=1"></script>
</html>
