<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>区块链医疗系统-医院注册</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/validator/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/validator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/validator/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/validator/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/validator/dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 15px;height: 50px" align="center">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>区块链医疗系统--超级管理</strong></span>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="main" class="container" align="center">
    <div class="login">
        <div class="row">
            <div class="col-md-4">
                <img src="./image/timg.gif" alt="" width="640" height="400" style="margin-left:-40px;margin-top:30px;">
            </div>
            <div class="col-md-5 form-register" style="margin-top: 50px">
                <div>
                    <form class="form-horizontal" id="hospitalRegisterForm" action="registerPost" method="post">
                        <div class="form-group">
                            <label for="hospitalname" class="col-sm-3 control-label">医院名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospitalname"
                                       name="hospitalname" placeholder="医院名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detailinfo" class="col-sm-3 control-label">医院简介</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="detailinfo" name="detailinfo" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-3 control-label">医院地址</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="address"
                                       name="address" placeholder="医院地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="grade" class="col-sm-3 control-label">等级</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="grade" name="grade">
                                    <option value="三级甲等">三级甲等</option>
                                    <option value="三级乙等">三级乙等</option>
                                    <option value="三级丙等">三级丙等</option>
                                    <option value="二级甲等">二级甲等</option>
                                    <option value="二级乙等">二级乙等</option>
                                    <option value="二级丙等">二级丙等</option>
                                    <option value="一级甲等">一级甲等</option>
                                    <option value="一级乙等">一级乙等</option>
                                    <option value="一级丙等">一级丙等</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password"
                                       name="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 control-label">确认密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       id="confirmPassword" name="confirmPassword" placeholder="确认密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-7" >
                                <div style="float: left">
                                    <button type="submit" class="btn btn-primary login-input">注册</button>
                                </div>
                                <div style="float: left;margin-left: 50px;">
                                    <input type="reset" class="btn btn-primary login-input" value="取消"name="cancel">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/hospitalRegister.js"></script>
</html>