<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>区块链医疗系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a href="~/Account/SignIn"><span class="glyphicon glyphicon-user"></span> {{.username}}</a></li>
                        <li><a href="~/Account/Register"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <nav id="dhl" class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/Index">首页</a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/ContactUs">联系我们</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="~/File/Images/@path" />
            </li>
            <li class="list-group-item"><a href="/user/illcase">就诊病历</a></li>
            <li class="list-group-item"><a href="/user/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/user/editPassword">修改密码</a></li>
            <li class="list-group-item"><a href="/user/visitRecord">病历访问记录</a></li>
            <li class="list-group-item"><a href="">申请授权</a></li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="form-horizontal" style="width: 80%;">
            <table class="table table-striped">
                <caption>病历访问记录</caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>时间</th>
                    <th>疾病名称</th>
                    <th>访问者</th>
                    <th>访问目的</th>
                    <th>状态</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>刘医生</td>
                    <td>复诊</td>
                    <td>同意</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2018年2月</td>
                    <td>发烧</td>
                    <td>刘医生</td>
                    <td>流行病统计</td>
                    <td>拒绝</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2018年1月</td>
                    <td>感冒</td>
                    <td>刘医生</td>
                    <td>复诊</td>
                    <td>同意</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>