<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>区块链医疗系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="userCenter"><span class="glyphicon glyphicon-user"></span> {{.username}}</a></li>
                        <li><a href="/logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <nav id="dhl" class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/Index">首页</a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/ContactUs">联系我们</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="~/File/Images/@path" />
            </li>
            <li class="list-group-item"><a href="/user/illcase">就诊病历</a></li>
            <li class="list-group-item"><a href="/user/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/user/editPassword">修改密码</a></li>
            <li class="list-group-item"><a href="/user/visitRecord">病历访问记录</a></li>
            <li class="list-group-item"><a href="">申请授权</a></li>
        </ul>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="form-horizontal" style="width: 80%;">
            <form action="/user/editInfoPost" method="post">
                <input name="publicKey" id="publicKey" hidden>
            <div class="form-group" >
                <label for="username"><span>姓名</span></label>
                <input name="username" id="username" hidden>
                <label class="form-control" style="width:300px">{{.username}}</label>
            </div>
            <div class="form-group">
                <label>性别:</label>
                <div>
                <div class="radio" style="float: left">
                    <label>
                        <input type="radio" name="sex" id="sex1" value="0" checked> 男
                    </label>
                </div>
                <div class="radio" style="float: left;margin-left: 50px;">
                    <label>
                        <input type="radio" name="sex" id="sex2" value="1"> 女
                    </label>
                </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="tel">电话号码:</label>
                <input type="tel" name="tel" id="tel" class="form-control" style="width:300px">
            </div>
            <div class="form-group">
                <label for="idnum">身份证号:</label>
                <input type="text" name="idnum" id="idnum" class="form-control" style="width:300px" disabled>
            </div>
            <div class="form-group">
                <label for="birthdata">出生日期:</label>
                <input type="date" name="birthdate" id="birthdate" class="form-control" style="width:300px">
            </div>
            <div class="form-group">
                <label for="loaction">地址:</label>
                <input name="location" id="location" class="form-control" value="" style="width:300px">
            </div>
            <div class="form-group" style="float: left;margin-left: 50px;">
                <input type="submit" class="btn btn-primary" value="提交" onclick="return checkNull()">
            </div>
            <div class="form-group" style="float: left;margin-left: 50px;">
                <input type="reset" class="btn btn-primary" value="重置">
            </div>
            </form>
        </div>
    </div>
</div>

<div hidden>
    <span id="formValue">{{.currentUser}}</span>
</div>

</body>
<script>
    $(function(){
        var date_now = new Date();
        var year = date_now.getFullYear();
        var month = date_now.getMonth() + 1 < 10 ? "0" + (date_now.getMonth() + 1) : (date_now.getMonth() + 1);
        var date = date_now.getDate() < 10 ? "0" + date_now.getDate() : date_now.getDate();
        $("#birthdate").attr("max", year + "-" + month + "-" + date);
    })

    window.onload=function () {
        var jsonTxt=document.getElementById("formValue").innerText;
        var obj=JSON.parse(jsonTxt)
        document.getElementById("publicKey").value=obj.PublicKey;
        document.getElementById("username").value=obj.Name;
        document.getElementById("userCenter").href="/user/editInfo/"+obj.Name;
        if(obj.Gender==0)
            document.getElementById("sex1").checked=true;
        else
            document.getElementById("sex2").checked=true;
        document.getElementById("birthdate").value=obj.BirthDate.substr(0,10);
        document.getElementById("idnum").value=obj.IdNum;
        document.getElementById("tel").value=obj.PhoneNum;
        document.getElementById("location").value=obj.Location;
    }
    
    function checkNull() {
        var tel = document.getElementById("tel").value;
        var birth = document.getElementById("birthdate").value;
        var location = document.getElementById("location").value;
        if (tel.length == 0 || birth.length == 0 || location.length == 0) {
            alert("请填写完整信息！");
            return false;
        }
    }
</script>
</html>