<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/validator/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/validator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/validator/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/validator/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/validator/dist/js/bootstrapValidator.js"></script>
    <title>医疗系统</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>区块链医疗系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="userCenter"><span class="glyphicon glyphicon-user" id="userCenter1"></span> </a></li>
                        <li><a href="/logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <nav id="dhl" class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/Index">首页</a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/ContactUs">联系我们</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-3">
        <ul class="list-group" id="ueserfunction">
            <li class="list-group-item">
                <img class="img-responsive" name="head" id="head" style="margin-left:15%;width: 150px;height: 150px" src="/static/image/defaultImage.jpg" />
            </li>
            <li class="list-group-item"><a href="/user/appointment">预约挂号</a></li>
            <li class="list-group-item"><a href="/user/editInfo">修改信息</a></li>
            <li class="list-group-item"><a href="/user/editPassword">修改密码</a></li>
            <li class="list-group-item"><a href="/user/illcase">就诊记录</a></li>
            <li class="list-group-item"><a href="/user/visitRecord">病历访问记录</a></li>
            <li class="list-group-item"><a href="">申请授权</a></li>
        </ul>
    </div>

    <div class="col-md-9 ">
        <div>
            <ul class="breadcrumb">
                <li><a href="#">个人中心</a></li>
                <li>修改个人信息</li>
            </ul>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <div class="form-horizontal" style="width: 80%;">

            <form id="userEditInfoForm" action="/user/editInfoPost" method="post">
                <input name="publicKey" id="publicKey" hidden>
            <div class="form-group" >
                <label for="username"><span>姓名</span></label>
                <input name="username" id="username" class="form-control" style="width:300px" readonly>
            </div>
            <div class="form-group">
                <label>性别:</label>
                <div>
                <div class="radio" style="float: left">
                    <label>
                        <input type="radio" name="sex" id="sex1" value="0" disabled> 男
                    </label>
                </div>
                <div class="radio" style="float: left;margin-left: 50px;">
                    <label>
                        <input type="radio" name="sex" id="sex2" value="1" disabled> 女
                    </label>
                </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="tel">电话号码:</label>
                <input type="tel" name="tel" id="tel" class="form-control" style="width:300px">
            </div>
            <div class="form-group">
                <label for="idnum">身份证号:</label>
                <input type="text" name="idnum" id="idnum" class="form-control" style="width:300px" readonly>
            </div>
            <div class="form-group">
                <label for="birthdata">出生日期:</label>
                <input type="date" name="birthdate" id="birthdate" class="form-control" style="width:300px" readonly>
            </div>
            <div class="form-group">
                <label for="loaction">地址:</label>
                <input name="location" id="location" class="form-control" value="" style="width:300px">
            </div>
            <div class="form-group" style="float: left;margin-left: 50px;">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
            <div class="form-group" style="float: left;margin-left: 50px;">
                <a href="/user/editInfo" class="btn btn-primary">重置</a>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

<div hidden>
    <span id="formValue">{{.currentUser}}</span>
</div>

</body>
<script type="text/javascript" src="/static/js/userEditInfo.js"></script>
</html>