<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>医疗系统</title>
</head>
<body>
<div>
    <nav id="top" style="background:url('../../File/bg1.jpg') no-repeat center fixed;background-size:100% 100%" >
        <div class="container">
            <div class="row" style="background-color: black">
                <div class="col-md-3" style="margin-top: 10px;">
                    <span style="font-size:20px;color:ghostwhite;text-shadow: 5px 5px 5px #affff3;"><strong>区块链医疗系统</strong></span>
                </div>

                <div class="col-md-5 col-md-offset-4">
                    <ul class="nav navbar-nav"  style="float:right">
                        <li><a id="userCenter"><span class="glyphicon glyphicon-user" id="userCenter1"></span> </a></li>
                        <li><a href="/logout" onclick="if(confirm('确定登出吗？')==false)return false;"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <nav id="dhl" class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/Index">首页</a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/ContactUs">联系我们</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
<div class="col-lg-3">
    <ul class="list-group" id="ueserfunction">
        <li class="list-group-item">
            <img class="img-responsive" name="head" id="head" style="width: 50px;height: 80px" src="~/File/Images/@path" />
        </li>
        <li class="list-group-item"><a href="/user/appointment">预约挂号</a></li>
        <li class="list-group-item"><a href="/user/editInfo">修改信息</a></li>
        <li class="list-group-item"><a href="/user/editPassword">修改密码</a></li>
        <li class="list-group-item"><a href="/user/illcase">就诊记录</a></li>
        <li class="list-group-item"><a href="/user/visitRecord">病历访问记录</a></li>
        <li class="list-group-item"><a href="">申请授权</a></li>
    </ul>
</div>
    <div class="col-md-9 ">
        <div>
            <ul class="breadcrumb">
                <li><a href="#">个人中心</a></li>
                <li>就诊记录</li>
            </ul>
        </div>
        <div class="col-md-8 col-md-offset-1">
        <div class="form-horizontal" style="width: 80%;">
            <form action="" method="post" id="userForm" name="userForm">
                <table id="table" name="table" class="table table-striped" style="width: 700px">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="all_check"></th>
                            {{/*<th>ID</th>*/}}
                            <th>就诊时间</th>
                            <th>诊断结果</th>
                            <th>科室</th>
                            <th>主治医师</th>
                            <th>医院</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>

                {{/*隐藏域传值*/}}
                <div hidden>
                    <input name="publicKey" id="publicKey">
                    <input id="selectedItem" name="selectedItem">
                </div>

                <div style="float: right">
                    <button type="button" class="btn btn-primary" onmousedown="return checkSelected()" onmouseup="return confirmLock()">锁定记录</button>
                    <button type="button" class="btn btn-success" onmousedown="return checkSelected()" onmouseup="return confirmUnlock()">解锁记录</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onmousedown="return checkSelectedOne()" onmouseup="modal(this)">查看详情</button>
                </div>
            </form>

            {{/*模态框*/}}
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">诊治记录详情</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- 模态框主体 -->
                        <div class="modal-body" style="width: 70%;margin-left: 100px;">
                            <div class="form-group">
                                <label>患者：</label>
                                <span id="modal_name" name="modal_name"></span>
                                (<span id="modal_age" name="modal_age"></span> 岁，
                                <span id="modal_gender" name="modal_gender"></span>)
                            </div>
                            <div class="form-group">
                                <label for="modal_symptom">症状描述：</label>
                                <span id="modal_symptom" name="modal_symptom"></span>
                            </div>
                            <div class="form-group">
                                <label for="modal_illdetail">详细诊治方案：</label>
                                <textarea class="form-control" id="modal_illdetail" name="modal_illdetail" rows="4" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label for="modal_illname">诊断结果：</label>
                                <span id="modal_illname" name="modal_illname"></span>
                            </div>
                            <div class="form-group">
                                <label>主治医生：</label>
                                <span id="modal_curedoctor" name="modal_curedoctor"></span>，
                                <span id="modal_hospital" name="modal_hospital"></span>-
                                <span id="modal_department" name="modal_department"></span>
                            </div>
                            <div class="form-group">
                                <label for="modal_time">就诊时间：</label>
                                <span id="modal_time" name="modal_time"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">关闭</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

<div hidden>
    <span id="formValue">{{.currentUser}}</span>
    <span id="illcase">{{.illcase}}</span>
</div>
</body>

<script type="text/javascript" src="/static/js/userIllcase.js"></script>
<script type="text/javascript" src="/static/js/jsGetAge.js"></script>
</html>